
@{
    ViewData["Title"] = "ขอบคุณที่ใช้บริการของเรา";
}

<h1>ขอบคุณที่ใช้บริการของเรา</h1>
<div>ทางเราขอขอบคุณคุณ @ViewData["name"] เมื่อเจ้าหน้าที่ีับเรื่องแล้วทางเราจะติดต่อกลับไปที่
    @ViewData["Email"] โดยด่วน</div>
